form(method='post', action='/tycrawler')
    div.form_settings
        p
            input(
                style="width:100%",
                name='url',
                placeholder='Please enter a URL')
            input.submit(type='submit', value='Start')
            input.reset(type='reset', value='Reset')

h5 Report a bug? Please Click&nbsp;
    a(href="https://github.com/swwl1992/TyCrawler/issues") here

table(style="width:100%; border-spacing:0")
    tbody
        tr
            th Settings
            th Description
        tr
            td Output encoding
            td UTF-8
        tr
            td Format
            td CSV
        tr
            td Delimiter
            td Vertical line
