p Welcome to #{title}
form(method='post', action='/tycrawler')
    p
        input(name='url', placeholder='Please enter a URL')
    p
        input(type='submit', value='Start')
        input(type='reset', value='Reset')

