form(method='post', action='/zodiac')
    div.form_settings
        p
            input(
                name='option',
                placeholder='请输入选项，例如"友好的"')
            div
                input.submit(type='submit', value='提交')
                input.reset(type='reset', value='清除')

h5 Report a bug? Please Click&nbsp;
    a(href="https://github.com/swwl1992/TyCrawler/issues") here
